body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #230e4a, black);
    /* background-image: url('/images/bg.jpg'); */
}

#particles-js {
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5)
    height:inherit;
}
